.input {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    border: 1px solid var(--text);
    border-radius: .25rem;
    outline: none;
    text-align: center;
}

.input--disabled {
    border: 1px solid var(--default);;
}

.input--error:not(.input--disabled) {
    border: 1px solid var(--danger);
}

.input--present {
    background: var(--warning);
    border-color: var(--warning);
}

.input--on-place {
    background: var(--success);
    border-color: var(--success);
}

.input:focus {
    border-color: var(--warning);
}

.input--active {
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    .input--present, .input--on-place {
        color: var(--textContrast);
    }
}
