.button {
    background: var(--secondary);
    color: var(--text);
    border-radius: 0.25rem;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.button--small {
    font-size: 1rem;
    padding: 0.5rem;
}
