.topbar {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.rules-button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: var(--text);
    display: none;
}

.rules-button svg {
    width: 2rem;
    height: 2rem;
}
