.app {
    min-height: 100vh;
    background-color: var(--main);
}

.content {
    padding: 2rem 2rem;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.actions {
    margin-top: 30px;
    display: flex;
    gap: 1rem;
}
