.app {
    min-height: 100vh;
    background-color: var(--main);
}

.content {
    padding: 1rem 0.5rem;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
}

.actions {
    margin-top: 30px;
    display: flex;
    gap: 1rem;
}
