.app {
    display: flex;
    place-items: center;
    flex-direction: column;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.actions {
    margin-top: 30px;
    display: flex;
    gap: 1rem;
}

button:focus {
    background-color: yellow;
}
