.app {
    display: flex;
    place-items: center;
    flex-direction: column;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.submit {
    margin-top: 30px;
}

.submit:focus {
    background-color: yellow;
}
